@use '../../style/mixins.scss' as *;

.devices-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-auto-rows: auto;
  gap: 24px;
  padding: 20px;
  overflow: auto;
  height: 70vh;
}

.device-card {
  @include d-flex(column, initial, initial, 12px);
  padding: 2vh;
  height: 35vh;
  width: 20vw;
  cursor: pointer;
  border-radius: 15px;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  }

  &-info {
    @include d-flex(row, center, initial, 7px);
    &-price {
      color: rgb(184, 117, 117);
    }
  }
  &-name {
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: auto;
    width: 80%;
    text-align: center;
  }
  &-image {
    width: 180px;
    height: 264px;
    align-self: center;
  }
}
