@use '../../style/mixins.scss' as *;

.header {
  @include d-flex(row, center, center, 46px);
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.8);
  &-logo {
    height: 40px;
    width: auto;
  }
  &-cart {
    @include d-flex(row, center, center, 10px);
    img {
      width: 3vw;
    }
    &-count {
      display: inline-block;
      padding: 0px 8px;
      border: 1px solid rgb(184, 117, 117);
      border-radius: 50%;
      text-align: center;
    }
  }
}
